.menu-bar{
    -fx-background-color: #b2b2b2;
}
.menu{
    -fx-min-width: 80px;
    -fx-border-radius: 10px;
    -fx-cell-size:70px 10px;
}


.menu-item{
    -fx-min-width: 70px;
}
#title{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Blackt";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.tree-cell{
    -fx-border-radius: 10px;
}